body{
    background-color: rgb(72, 72, 235);
    font: normal 15pt Arial;
}

header{ 
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto; /*Esse comando centralizou a section*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.562); /*Este coloca sombreamento na section*/
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
select{
    width: 200px;
}